<div>
  <a mat-fab class="nav-bar-item" *ngIf="isMouseEnter" routerLink="/demands/favorite">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
  </a>
  <a mat-fab class="nav-bar-item" *ngIf="isMouseEnter" routerLink="/demands/unread">
    <mat-icon aria-label="Example icon-button with a heart icon">library_books</mat-icon>
  </a>
  <a mat-fab class="nav-bar-item">
    <mat-icon aria-label="Example icon-button with a heart icon">format_line_spacing</mat-icon>
  </a>
</div>