<div class="demand-detail-content ng-container">
    <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
            <div class="mdl-card__media mdl-color-text--grey-50">
              <h2>{{demand.title}}</h2>
            </div>
            <div class="demand_detail_body">
                <div class="demand_detail_header">
                    <div class="user_avatar">
                      <img src="{{demand.user_avatar}}" alt="">
                    </div>
                    <div>
                        <div style="margin: 5px;">{{demand.user_name}}</div>
                        <div>{{demand.created_at}}</div>
                    </div>
                    <div class="section-spacer"></div>
                    <div class="meta__favorites">
                      425 <i class="material-icons" role="presentation">favorite</i>
                    </div>
                    <div>
                      <i class="material-icons" role="presentation">bookmark</i>
                    </div>
                    <div>
                      <i class="material-icons" role="presentation">share</i>
                    </div>
                </div>
                <div class="demand_detail_desc" [innerHTML]='demand.content' ></div>
                <div class="comment_main mdl-color-text--grey-700">
                  <form>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                      <textarea rows="1" class="mdl-textfield__input" id="comment"></textarea>
                      <label for="comment" class="mdl-textfield__label">Join the discussion</label>
                    </div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                      <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
                    <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
                  </form>
                  <div class="comment_item" *ngFor="let comment of demand.comments">
                    <header class="comment__header">
                      <img src="{{comment.avatar_url}}" class="comment__avatar">
                      <div class="comment__author">
                        <span>{{comment.user_name}}</span>
                        <span>{{comment.created_at}}</span>
                      </div>
                    </header>
                    <div class="comment__text" [innerHTML]='comment.body'></div>
                    <div class="comment__answers" *ngFor="let child of comment.child">
                      <div class="comment_item">
                        <header class="comment__header">
                          <img src="{{child.avatar_url}}" class="comment__avatar">
                          <div class="comment__author">
                            <span>{{child.user_name}}</span>
                            <span>{{child.created_at}}</span>
                          </div>
                        </header>
                        <div class="comment__text" [innerHTML]='child.body'></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
    
          <nav class="demand-detail-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
            <a href="index.html" class="demo-nav__button">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons">arrow_back</i>
              <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
              Newer
            </a>
            <div class="section-spacer"></div>
            <a href="index.html" class="demo-nav__button">
              Older
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons">arrow_forward</i>
              <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
            </a>
          </nav>
        </div>
      </main>
</div>