.demand-detail-content .mdl-card .mdl-card__media {
    background-image: url(/src/assets/images/road_big.jpg);
    height: 280px;
    margin-top: 30px;
    color: white;
    position: relative;
}

.demand-detail-content .mdl-card .mdl-card__media h2{
    position: absolute;
    bottom: 0px;
    padding-left: 40px;
}

.demand_detail_body{
    background: white;
}

.demand_detail_header{
    display: flex;
    padding: 20px 50px;
}

.demand_detail_header .section-spacer{
    flex-grow: 1;
}

.user_avatar{
    margin-right: 30px;
}

.demand_detail_desc{
    padding: 0 60px;
}

.user_avatar img{
    width: 50px; 
    height: 50px;
    border-radius:50%
}

.demand_detail_header .material-icons{
    margin-left: 12px;
    vertical-align: text-bottom;
}


.demand-detail-nav {
    margin: 12px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: 500;
}

.demand-detail-nav a{
    color: white;
    text-decoration: none;
}

.mdl-button {
    border: none;
    position: relative;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
}

.mdl-button--icon {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.mdl-button:active {
    background-color: rgba(158,158,158,.4);
}

.mdl-button .material-icons {
    vertical-align: middle;
}

.mdl-button--icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}
